:host {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  position: relative;
  height: 93%;
}

.top-toolbar {
  height: 4%;
  min-height: 30px;
}

.top-toolbar-button {
  line-height: 30px;
}

.reminder-history {
  height: 91%;
  overflow-y: scroll;
  position: relative;
}

.reminder-toolbar {
  height: 5%;
}
.reminder-toolbar button {
  width: 25%;
}

.no-reminders-found {
  height: 100%;
}
.reminder-history-entry {
  width: 100%;
  overflow: auto;
}
.reminder-history-entry-date {
  width: 20%;
}

.reminder-history-entry-recurrence {
  width: 40%;
}

.reminder-type-icon {
}

.reminder-history-entries-loader {
  width: 100%;
  position: absolute;
  bottom: 1px;
}

.add-reminder-link {
  color: #91e6a2;
  text-decoration: none;
  font-size: 13px;
}

.add-reminder-link:hover {
  color: blue;
}

.no-reminders-found-text {
  font-size: 16px;
}

.reminders-container {
  width: 100%;
}

.reminders-header {
  font-size: 16px;
}
