<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="profile-container">
  <img class="profile-image" [src]="currentUser.pictureUrl ? currentUser.pictureUrl : 'assets/default-profile.jpg'" alt="Profile Image"/>
  <span class="email">{{currentUser.email}}</span>
  <span class="name">{{currentUser.name}}</span>
</div>

<div class="mat-toolbar" fxLayout="row wrap">
  <button mat-button [routerLink]="['/measurements']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons md-30" aria-hidden="false" aria-label="Measurements">add</i>
      <span>Measurement</span>
    </div>
  </button>
  <button mat-button [routerLink]="['/recommendations']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons md-30" aria-hidden="false" aria-label="Show recommendations">healing</i>
      <span>Recommendations</span>
    </div>
  </button>
  <button mat-button [routerLink]="['/reminders']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons md-30" aria-hidden="false" aria-label="Show notifications">notifications</i>
      <span>Reminders</span>
    </div>
  </button>
  <button mat-button [routerLink]="['/settings']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons md-30" aria-hidden="false" aria-label="Settings">settings</i>
      <span>Settings</span>
    </div>
  </button>
</div>

