<div fxLayout="row" fxLayoutAlign="center">
  <h2>New measurement</h2>
</div>
<div class="measurement-types-container" fxLayout="row" fxLayoutAlign="space-between">
  <div class="measurement-type"
       [ngClass]="measurementTypeSelected == 'pulse'? 'measurement-type-selected' : 'measurement-type-not-selected'"
       (click)="onMeasurementTypeSelect( 'pulse')">
    <mat-icon svgIcon="pulse" class="measurement-type-icon">
      <i class="material-icons"
         [ngClass]="measurementTypeSelected == 'pulse'? 'measurement-type-icon-enabled' : 'measurement-type-icon-disabled'">check_circle</i>
    </mat-icon>
  </div>
  <div class="measurement-type"
       [ngClass]="measurementTypeSelected == 'pressure'? 'measurement-type-selected' : 'measurement-type-not-selected'"
       (click)="onMeasurementTypeSelect( 'pressure')">
    <mat-icon svgIcon="pressure" class="measurement-type-icon">
      <i class="material-icons"
         [ngClass]="measurementTypeSelected == 'pressure'? 'measurement-type-icon-enabled' : 'measurement-type-icon-disabled'">check_circle</i>
    </mat-icon>
  </div>
  <div class="measurement-type"
       [ngClass]="measurementTypeSelected == 'glucose'? 'measurement-type-selected' : 'measurement-type-not-selected'"
       (click)="onMeasurementTypeSelect( 'glucose')">
    <mat-icon svgIcon="glucose" class="measurement-type-icon">
      <i class="material-icons"
         [ngClass]="measurementTypeSelected == 'glucose'? 'measurement-type-icon-enabled' : 'measurement-type-icon-disabled'">check_circle</i>
    </mat-icon>
  </div>
  <div class="measurement-type"
       [ngClass]="measurementTypeSelected == 'weight'? 'measurement-type-selected' : 'measurement-type-not-selected'"
       (click)="onMeasurementTypeSelect( 'weight')">
    <mat-icon svgIcon="weight" class="measurement-type-icon">
      <i class="material-icons"
         [ngClass]="measurementTypeSelected == 'weight'? 'measurement-type-icon-enabled' : 'measurement-type-icon-disabled'">check_circle</i>
    </mat-icon>
  </div>
  <div class="measurement-type"
       [ngClass]="measurementTypeSelected == 'temp'? 'measurement-type-selected' : 'measurement-type-not-selected'"
       (click)="onMeasurementTypeSelect('temp')">
    <mat-icon svgIcon="temperature" class="measurement-type-icon">
      <i class="material-icons"
         [ngClass]="measurementTypeSelected == 'temp'? 'measurement-type-icon-enabled' : 'measurement-type-icon-disabled'">check_circle</i>
    </mat-icon>
  </div>
</div>

<div class="create-measurement-btn-container">
  <button mat-button color="primary" [disabled]="!measurementCreationComp.isValid()" (click)="onSubmit()">Create</button>
</div>
<router-outlet (activate)="onActivate($event)"></router-outlet>
