@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-error {
  background-color: #f44336;
  color: #FFFFFF;
}

.mat-button-toggle-group-appearance-standard {
  border: none !important;
}

.mat-button-toggle-label-content {
  line-height: 24px !important;
}
