:host {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 93%;
}

.measurement-types-container {
  margin-top: 10px;
  height: 10%;
  padding-top: 10px;
  width: 100%;
}

.type-toggle {
  width: 15%;
  font-size: 12px;
  line-height: 24px;
}

.measurement-history {
  height: 85%;
  overflow-y: scroll;
  position: relative;
}

.measurement-toolbar {
  height: 5%;
}
.measurement-toolbar button {
  width: 25%;
}

.no-measurements-found {
  height: 100%;
}

.measurement-history-entry-unit {
  width: 20%;
}

.measurement-history-entry-value {
  width: 20%;
}

.measurement-history-entries-loader {
  width: 100%;
  position: absolute;
  bottom: 1px;
}

.add-measurement-link {
  color: #91e6a2;
  text-decoration: none;
  font-size: 13px;
}

.add-measurement-link:hover {
  color: blue;
}

.no-measurements-found-text {
  font-size: 16px;
}

.measurements-by-date-container {
  width: 100%;
}

.measurements-header {
  font-size: 16px;
}
