<div class="measurement-types-container">
  <mat-button-toggle-group [(ngModel)]="types" fxLayout="row wrap" fxLayoutAlign="space-between space-between"
                           [multiple]="true" (change)="onMeasurementTypeChange($event)">
    <mat-button-toggle value="pulse" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="pulse"></mat-icon>
        <span>Pulse</span>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="pressure" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="pressure"></mat-icon>
        <span>Pressure</span>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="glucose" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="glucose"></mat-icon>
        <span>Glucose</span>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="weight" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="weight"></mat-icon>
        <span>Weight</span>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="temperature" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon svgIcon="temperature"></mat-icon>
        <span>Temp</span>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="all" class="type-toggle">
      <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
        <i class="material-icons" aria-hidden="false" aria-label="All">add</i>
        <span>All</span>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-list fxLayout="column" fxLayoutAlign="start center" class="measurement-history" (scroll)="onScroll($event)">
  <h3 class="measurements-header" mat-subheader>History</h3>
  <div *ngFor="let measurementsByDate of measurements" class="measurements-by-date-container">
    <h4 mat-subheader>{{measurementsByDate.date | date}}</h4>
    <mat-list-item *ngFor="let measurement of measurementsByDate.measurements">
      <div mat-line fxLayout="row" fxLayoutAlign="space-between center" class="measurement-history-entry">
        <mat-icon *ngIf="measurement.type == 'glucose'" svgIcon="glucose" mat-list-icon class=""></mat-icon>
        <mat-icon *ngIf="measurement.type == 'temperature'" svgIcon="temperature" mat-list-icon class=""></mat-icon>
        <mat-icon *ngIf="measurement.type == 'pressure'" svgIcon="pressure" mat-list-icon class=""></mat-icon>
        <mat-icon *ngIf="measurement.type == 'weight'" svgIcon="weight" mat-list-icon class=""></mat-icon>
        <mat-icon *ngIf="measurement.type == 'pulse'" svgIcon="pulse" mat-list-icon class=""></mat-icon>
        <span class="measurement-history-entry-value">{{measurement.value}}</span>
        <span class="measurement-history-entry-unit">{{measurement.unit}}</span>
        <span class="measurement-history-entry-date">{{measurement.created | date:'shortTime'}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="measurements.length < 1" class="no-measurements-found" fxLayout="column" fxLayoutAlign="center center">
    <p class="no-measurements-found-text">No measurements found</p>
    <a class="add-measurement-link" [routerLink]="['/add-measurement']">Add new one</a>
  </div>
  <div *ngIf="isLoading" class="measurement-history-entries-loader">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!--  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
  <!--  <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
  <!--  <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></mat-list>-->
</mat-list>
<div class="measurement-toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <button mat-button>
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons" aria-hidden="false" aria-label="Help">help</i>
    </div>
  </button>
  <button mat-button [routerLink]="['/chart']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons" aria-hidden="false" aria-label="Show chart">show_chart</i>
    </div>
  </button>
  <button mat-button [routerLink]="['/settings']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons" aria-hidden="false" aria-label="Add temperature">account_circle</i>
    </div>
  </button>
  <button mat-button [routerLink]="['/add-measurement']">
    <div class="button-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons" aria-hidden="false" aria-label="Add measurement">add</i>
    </div>
  </button>
</div>
